<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klama - Admin Panel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="panel admina" name="keywords">
    <meta content="panel admina" name="description">

    <!-- Favicon -->
    <link href="/img/admin/logo.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- Libraries Stylesheet -->
    <link href="/lib/admin/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/admin/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/styles/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/styles/admin/css/style.css" rel="stylesheet">

    <style>
        .user-details {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 20px;
        }

        .user-info {
            flex: 1;
            margin-right: 20px;
            color: #fff;
        }

        .user-info p strong {
            color: #4caf50; /* Wyróżnienie nagłówków (np. "Imię:") w kolorze zielonym */
        }

        .user-picture {
            width: 300px;
            height: 300px;
            background-color: #343a40;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #6c757d;
            font-size: 1.2em;
        }

        .action-buttons button {
            margin-right: 10px;
        }

        .accordion-button:not(.collapsed) {
            color: #fff;
            background-color: #28a745; /* Zielony kolor */
            border-color: #28a745; /* Zielony kolor obramowania */
        }

        .accordion-button {
            color: #fff;
            background-color: #343a40; /* Domyślny ciemnoszary kolor */
            border: 1px solid #6c757d; /* Ciemnoszary obramowanie */
        }

        .accordion-button:hover {
            color: #fff;
            background-color: #218838; /* Jaśniejszy zielony na hover */
            border-color: #218838;
        }

        .accordion-body {
            background-color: #2c2f33; /* Dostosowanie koloru wnętrza */
            color: #fff;
        }

    </style>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Ładowanie...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="/admin" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Panel admina</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="/img/Klama-Climbing-Gym.svg" alt="logo" style="width: 40px; height: 40px;">
                    <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0" id="currentUserName">Ładowanie...</h6>
                    <span id="currentUserRole">Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="/admin" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Panel
                    główny</a>
                <a href="/allUsers" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Użytkownicy</a>
                <a href="/allPosts" class="nav-item nav-link"><i class="fa fa-comment me-2"></i>Blog</a>
                <a href="/allRentalItems" class="nav-item nav-link"><i class="fa fa-bookmark me-2"></i>Wypożyczalnia</a>
                <a href="/allShopItems" class="nav-item nav-link"><i class="fa fa-dollar-sign me-2"></i>Sklep</a>
                <a href="/allPasses" class="nav-item nav-link"><i class="fa fa-tag me-2"></i>Karnety</a>
                <a href="/logout" class="nav-item nav-link"><i class="fa fa-sign-out-alt me-2"></i>Wyloguj</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="admin.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Szukaj">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="/img/Klama-Climbing-Gym.svg" alt="logo"
                             style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Moje konto</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" id="myProfileLink" class="dropdown-item">My Profile</a>
                        <a href="/logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Main Content Start -->
        <div class="container mt-4">
            <div class="d-flex justify-content-end align-items-center gap-2">
                <!-- Przycisk edycji -->
                <button class="btn btn-warning btn-sm edit-item" id="editButton">
                    <i class="fas fa-edit"></i> Edytuj
                </button>

                <!-- Przycisk usuwania -->
                <button class="btn btn-danger btn-sm delete-item" id="deleteButton">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>

            <div class="user-details">
                <div class="user-info">
                    <h1 id="username" class="text-success"></h1>
                    <p><strong>Imię:</strong> <span id="firstName"></span></p>
                    <p><strong>Nazwisko:</strong> <span id="surname"></span></p>
                    <p><strong>Email:</strong> <span id="email"></span></p>
                    <p><strong>Rola:</strong> <span id="role"></span></p>
                    <p><strong>ID:</strong> <span id="userId"></span></p>
                    <p><strong>Data założenia konta:</strong> <span id="createdAt"></span></p>
                </div>
                <div class="user-picture text-center">
                    <span>Brak zdjęcia</span>
                </div>
            </div>

            <!-- Rozwijane sekcje -->
            <div class="accordion mt-5" id="userDetailsAccordion">
                <!-- Wypożyczenia -->
                <div class="accordion-item bg-secondary text-white">
                    <h2 class="accordion-header" id="rentsHeading">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#rentsContent" aria-expanded="false" aria-controls="rentsContent">
                            Wypożyczenia
                        </button>
                    </h2>
                    <div id="rentsContent" class="accordion-collapse collapse" aria-labelledby="rentsHeading" data-bs-parent="#userDetailsAccordion">
                        <div class="accordion-body">
                            <table class="table table-dark table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID Wypożyczenia</th>
                                    <th>Data Wypożyczenia</th>
                                    <th>Data Zwrotu</th>
                                    <th>Przedmioty</th>
                                    <th>Status</th>
                                    <th>Cena Całkowita</th>
                                </tr>
                                </thead>
                                <tbody id="rentsTableBody">
                                <!-- Tutaj zostaną wstawione dane -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Zakupy -->
                <div class="accordion-item bg-secondary text-white">
                    <h2 class="accordion-header" id="purchasesHeading">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#purchasesContent" aria-expanded="false" aria-controls="purchasesContent">
                            Zakupy
                        </button>
                    </h2>
                    <div id="purchasesContent" class="accordion-collapse collapse" aria-labelledby="purchasesHeading" data-bs-parent="#userDetailsAccordion">
                        <div class="accordion-body">
                            <table class="table table-dark table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID Zakupu</th>
                                    <th>Data Zakupu</th>
                                    <th>Przedmioty</th>
                                    <th>Łączna Cena</th>
                                </tr>
                                </thead>
                                <tbody id="purchasesTableBody">
                                <tr>
                                    <td colspan="4">Ładowanie...</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Karnety -->
                <div class="accordion-item bg-secondary text-white">
                    <h2 class="accordion-header" id="passesHeading">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#passesContent" aria-expanded="false" aria-controls="passesContent">
                            Karnety
                        </button>
                    </h2>
                    <div id="passesContent" class="accordion-collapse collapse" aria-labelledby="passesHeading" data-bs-parent="#userDetailsAccordion">
                        <div class="accordion-body">
                            <table class="table table-dark table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID Karnetu</th>
                                    <th>Nazwa Karnetu</th>
                                    <th>Cena</th>
                                    <th>Data Zakupu</th>
                                    <th>Data Wygaśnięcia</th>
                                </tr>
                                </thead>
                                <tbody id="passesTableBody">
                                <tr>
                                    <td colspan="5">Ładowanie...</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Main Content End -->

        <!-- Modal do potwierdzenia usunięcia -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Potwierdzenie usunięcia</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Czy na pewno chcesz usunąć tego użytkownika?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                        <button type="button" class="btn btn-danger" id="confirmDelete">Tak, usuń</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">Klama Wrocław</a>, Wszelkie prawa zastrzeżone.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        try {
            // Pobierz informacje o aktualnie zalogowanym użytkowniku
            const response = await fetch('/api/v1/authorized/user');
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const userData = await response.json();
            const { username, id } = userData;

            // Ustaw nazwę użytkownika w pasku bocznym
            const sidebarUserName = document.getElementById('currentUserName');
            if (sidebarUserName) {
                sidebarUserName.textContent = username;
            }

            // Ustaw link do strony profilu użytkownika w pasku górnym
            const profileLink = document.getElementById('myProfileLink');
            if (profileLink) {
                profileLink.href = `/oneUser?id=${id}`;
            }
        } catch (error) {
            console.error('Błąd podczas pobierania danych użytkownika:', error);

            // Domyślne wartości w przypadku błędu
            const sidebarUserName = document.getElementById('currentUserName');
            if (sidebarUserName) {
                sidebarUserName.textContent = 'Nieznany użytkownik';
            }
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        const urlParams = new URLSearchParams(window.location.search);
        const userId = urlParams.get('id');

        if (!userId) {
            alert("Nie podano ID użytkownika!");
            return;
        }

        // Funkcja do ładowania danych użytkownika
        async function loadUserDetails(userId) {
            try {
                const response = await fetch(`/api/v1/authorized/admin/user/${userId}`);
                const user = await response.json();

                if (response.ok) {
                    document.getElementById('username').textContent = user.username;
                    document.getElementById('firstName').textContent = user.firstName;
                    document.getElementById('surname').textContent = user.surname;
                    document.getElementById('email').textContent = user.email;
                    document.getElementById('role').textContent = user.role === 'ROLE_ADMIN' ? 'Admin' : 'User';
                    document.getElementById('userId').textContent = user.id;
                    document.getElementById('createdAt').textContent = new Date(user.createdAt).toLocaleString();
                } else {
                    alert(user.message);
                }
            } catch (error) {
                console.error("Błąd podczas pobierania danych użytkownika:", error);
            }
        }

        // Funkcja do ładowania wypożyczeń
        async function loadRents(userId) {
            const rentsTableBody = document.getElementById('rentsTableBody');
            rentsTableBody.innerHTML = '<tr><td colspan="6">Ładowanie...</td></tr>';

            try {
                const response = await fetch(`/api/v1/authorized/admin/rentalItem/history/${userId}`);
                if (!response.ok) {
                    throw new Error("Nie udało się pobrać danych wypożyczeń.");
                }

                const rents = await response.json();

                if (rents.length === 0) {
                    rentsTableBody.innerHTML = '<tr><td colspan="6">Brak wypożyczeń dla tego użytkownika.</td></tr>';
                    return;
                }

                rentsTableBody.innerHTML = rents.map(rent => `
                <tr>
                    <td>${rent.rentId}</td>
                    <td>${new Date(rent.rentDate).toLocaleString()}</td>
                    <td>${new Date(rent.returnDate).toLocaleString()}</td>
                    <td>
                        <ul>
                            ${rent.items.map(item => `
                                <li>${item.itemName} (Ilość: ${item.quantity}, Cena: ${item.price} zł, Razem: ${item.totalPrice} zł)</li>
                            `).join('')}
                        </ul>
                    </td>
                    <td>${rent.status}</td>
                    <td>${rent.totalPrice.toFixed(2)} zł</td>
                </tr>
            `).join('');
            } catch (error) {
                rentsTableBody.innerHTML = `<tr><td colspan="6">${error.message}</td></tr>`;
                console.error("Błąd podczas ładowania wypożyczeń:", error);
            }
        }

        // Funkcja do ładowania zakupów
        async function loadPurchases(userId) {
            const purchasesTableBody = document.getElementById('purchasesTableBody');
            purchasesTableBody.innerHTML = '<tr><td colspan="4">Ładowanie...</td></tr>';

            try {
                const response = await fetch(`/api/v1/authorized/admin/shopItems/history/${userId}`);
                if (!response.ok) {
                    throw new Error("Nie udało się pobrać danych zakupów.");
                }

                const purchases = await response.json();

                if (purchases.length === 0) {
                    purchasesTableBody.innerHTML = '<tr><td colspan="4">Brak zakupów dla tego użytkownika.</td></tr>';
                    return;
                }

                purchasesTableBody.innerHTML = purchases.map(purchase => `
            <tr>
                <td>${purchase.purchaseId}</td>
                <td>${new Date(purchase.purchaseDate).toLocaleString()}</td>
                <td>
                    <ul>
                        ${purchase.items.map(item => `
                            <li>${item.itemName} (Ilość: ${item.quantity}, Cena: ${item.price} zł, Razem: ${item.totalPrice} zł)</li>
                        `).join('')}
                    </ul>
                </td>
                <td>${purchase.totalPrice.toFixed(2)} zł</td>
            </tr>
        `).join('');
            } catch (error) {
                purchasesTableBody.innerHTML = `<tr><td colspan="4">${error.message}</td></tr>`;
                console.error("Błąd podczas ładowania zakupów:", error);
            }
        }

        // Funkcja do ładowania karnetów
        async function loadPasses(userId) {
            const passesTableBody = document.getElementById('passesTableBody');
            passesTableBody.innerHTML = '<tr><td colspan="5">Ładowanie...</td></tr>';

            try {
                const response = await fetch(`/api/v1/authorized/admin/pass/history/${userId}`);
                if (!response.ok) {
                    throw new Error("Nie udało się pobrać danych karnetów.");
                }

                const passes = await response.json();

                if (passes.length === 0) {
                    passesTableBody.innerHTML = '<tr><td colspan="5">Brak karnetów dla tego użytkownika.</td></tr>';
                    return;
                }

                passesTableBody.innerHTML = passes.map(pass => `
            <tr>
                <td>${pass.passId}</td>
                <td>${pass.passName}</td>
                <td>${pass.price.toFixed(2)} zł</td>
                <td>${new Date(pass.buyDate).toLocaleString()}</td>
                <td>${new Date(pass.expirationDate).toLocaleString()}</td>
            </tr>
        `).join('');
            } catch (error) {
                passesTableBody.innerHTML = `<tr><td colspan="5">${error.message}</td></tr>`;
                console.error("Błąd podczas ładowania karnetów:", error);
            }
        }

        // Funkcja do usuwania użytkownika
        async function deleteUser(userId) {
            try {
                const response = await fetch(`/api/v1/authorized/admin/user/delete/${userId}`, {
                    method: 'DELETE',
                });

                if (response.ok) {
                    alert("Użytkownik został usunięty.");
                    window.location.href = "/allUsers";
                } else {
                    const errorData = await response.json();
                    alert(errorData.message);
                }
            } catch (error) {
                alert("Błąd podczas usuwania użytkownika.");
            }
        }

        // Funkcja do przypięcia wydarzeń do przycisków
        function setupEventListeners() {
            document.getElementById('editButton').addEventListener('click', () => {
                window.location.href = `/editUser?id=${userId}`;
            });

            document.getElementById('deleteButton').addEventListener('click', function () {
                const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
                deleteModal.show();
            });

            document.getElementById('confirmDelete').addEventListener('click', async function () {
                await deleteUser(userId);
            });
        }

        // Inicjalizacja strony
        async function init() {
            await loadUserDetails(userId); // Ładowanie szczegółów użytkownika
            await loadRents(userId); // Ładowanie wypożyczeń
            await loadPurchases(userId); // Ładowanie zakupów
            await loadPasses(userId); // Ładowanie karnetów
            setupEventListeners(); // Ustawienie obsługi przycisków
        }

        init();
    });
</script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/admin/chart/chart.min.js"></script>
<script src="/lib/admin/easing/easing.min.js"></script>
<script src="/lib/admin/waypoints/waypoints.min.js"></script>
<script src="/lib/admin/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/admin/tempusdominus/js/moment.min.js"></script>
<script src="/lib/admin/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/admin/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/scripts/admin/main.js"></script>
</body>

</html>