spring.application.name=Klama

# Connection to the database
spring.datasource.url=jdbc:mysql://localhost:3306/<DatabaseName>
spring.datasource.username=<username>
spring.datasource.password=<password>
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Configuration of the connection pool
# PRODUCTION
# spring.jpa.hibernate.ddl-auto=update
# TESTING
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

server.error.include-message=always
server.error.include-stacktrace=never
server.error.include-binding-errors=always

spring.jpa.open-in-view=true

spring.mail.host=<smtp.host.address>
spring.mail.port=<587 for TLS, 465 for SSL>
spring.mail.username=<smtp.username>
spring.mail.password=<smtp.password>
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true